doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    block content

  script(src="/vendor/jquery.min.js")
  script(src="/vendor/howler.min.js")
  script(src="/vendor/pixi.min.js")
  script(src="/vendor/pixi.spine.js")

  script(src="/js/classes/data/conection.service.js")
  script(src="/js/classes/characters/base.characters.js")
  script(src="/js/classes/characters/main.character.js")
  script(src="/js/classes/game.js")
  script(src="/js/layout.js")
